extends base 
block content 
    main.main
        a(href='/manage-users')
            button.btn.btn--green All Users
        .newUser-form
            h2.heading-secondary.ma-bt-lg Create New User
            form.form.form--addNewUser
                .form__group
                    label.form__label(for='name') Full Name
                    input#name.form__input(type='name' placeholder='Jounas Alex' required='required')
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email' placeholder='you@example.com' required='required')
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password' placeholder='••••••••' required='required' minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='confirmPassword') PasswordConfirm
                    input#confirmPassword.form__input(type='password' placeholder='••••••••' required='required' minlength='8')
                .form__group
                    label.form__label(for='role') User Role
                    select#role.form__input(name='role')
                        option(value='user') User
                        option(value='guide') Guide
                        option(value='lead-guide') Lead Guide
                        option(value='admin') Admin
                .form__group.form__photo-upload
                    input#photo.form__upload(type='file' accept='image/*' name='photo')
                    label(for='photo') Choose new Photo 
                .form__group
                    button.btn.btn--green.btn--create Create new user