extends base 
block content 
   main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Please enter a new password and ConfirmPassword it
            form.form.form--resetPass
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='confirmPassword') Confirm Password
                    input#confirmPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    input#resetToken(type='hidden' value=`${token}`)
                .form__group
                    button.btn.btn--green Change Password